body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    background: #34495e;
    overflow-x: hidden;
}

nav {
    margin-bottom: 10px;
}

.myclass {
    text-transform: uppercase;
    font-family: 'Roboto';
}

.mydate {
    text-decoration: underline;
    color: #e74c3c;
}

.myarrow {    
    border-right: 6px solid rgb(127, 140, 141); 
    border-bottom: 6px solid rgb(127, 140, 141);
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
}
.row {
    margin-bottom: 0;
}
#myspinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input {
    font-family: "Open Sans";
}