body { margin: 0; }

#logo {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 20px;
}

#navbar { 
	height: 55px;
	line-height: 55px;	
	background: #1B272E;
    font-family: "Overpass";
    text-align: center;
    color: white;
}
.navbar-item {
    display: inline-block;
    float: right;
    width: 100px;
    font-size: 18px;
}
.navbar-item:hover {
    background: #34495e;
}

#header {
    background: #62B5AE;
    height: 400px;
}

