@import 'theme-colors';

.app-background {
    background-color: var(--background-color);
    transition: background-color .3s ease, color .3s ease;
    color: var(--text-color)
}

.title {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;

    @media screen and (max-width: 550px) {
        font-size: 25px;
    }
}

.subtitle, .subtext {
    color: var(--subtext-color);
}

.card, .card-container {
    background-color: var(--card-color);
}

.footer {
    background-color: var(--footer-color);
}

/*
* === THEME SWITCH ===
*/
input.theme-switch {
    display: none;
}

input.theme-switch + label {
    cursor: pointer;
}

input.theme-switch:not(:checked) + label:hover {
    cursor: pointer;
}

input.theme-switch + label:active,
input.theme-switch:checked + label {
    cursor: pointer;
}