:root {
    --background-color: white;
    --text-color: #363636;
    --subtext-color: #4a4a4a;
    --footer-color: #fafafa;
    --card-color: white;
}

[theme="dark"] {
    --background-color: #091A28;
    --text-color: #ddd;
    --subtext-color: #dadada;
    --footer-color: #011120;
    --card-color: #041423;
}